@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@uiw/react-md-editor/dist/markdown-editor.css';
@import '~flatpickr/dist/themes/material_green.css';
@import '~react-big-calendar/lib/sass/styles.scss';

body {
  position: relative;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}
